<div id="new-person-modal">
  <form method="post" action="#">
    <fieldset>
      <dl>
        <dt><label>Name</label></dt>
        <dd><input type="text" id="name" required></dd>
        <dt><label>Color 1:</label></dt>
        <dd><input type="text" id="color1" required></dd>
        <dt><label>Color 2:</label></dt>
        <dd><input type="text" id="color2" required></dd>
        <dt><label>Color 3:</label></dt>
        <dd><input type="text" id="color3" required></dd>
      </dl>
    </fieldset>
    <fieldset>
      <button class="btn-add" type="submit">Add</button>
      <button class="btn-cancel">Cancel</button>
    </fieldset>
  </form>
</div>
