* { box-sizing: border-box; }

body { margin: 0; }

header,
a,
select,
button { border-radius: 4px; }

header {
  height: 100px;
  padding: 20px;
  background: #E19832;
  color: #FFF;
}

h1 {
  margin: 0 0 15px 0;
  font-size: 24px;
}

h2,
p { margin: 5px 0; }

h2 { font-size: 16px; }

p { margin: 5px 0; }

ul {
  padding: 0;
  margin-top: 10px;
}

li {
  display: inline-block;
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}

figure { margin: 0; }

img { width: 100%; }

select,
button {
  height: 25px;
  background: #E19832;
  color: #fff;
  border: 1px solid #FFF;
  outline: none;
}

select {
  width: 80px;
  margin-left: 5px;
  margin-right: 8px;
}

button {
  width: 48px;
  margin-left: 20px;
}

a {
  display: inline-block;
  text-align: center;
  height: 28px;
  width: 47px;
  line-height: 28px;
  text-decoration: none;
  background: #E19832;
  color: #FFF;
}
