-
  function total(a, b) {
    return (a.price ? a.price * a.quantity : a) + b.price * b.quantity;
  }
  
  function format(price) {
    return price.toFixed(2);
  }
  
  function cartQuantity() {
    return cart.reduce((a, b) => (a.quantity ? a.quantity : a) + b.quantity);
  }
