@import url('whitespace-reset.css');

html {
  font: normal 20px/28px Helvetica, Arial, sans-serif;
  color: #45494d;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  box-sizing: border-box;
  height: 541px;
  background-color: #3d3d3d;
  padding: 155px 0 0 0;
}

header .content {
  text-align: center;
}

a {
  text-decoration: none;
}

h1 a {
  color: #fff;
  font-weight: normal;
  font-size: 68px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.logo {
  max-width: 505px;
  margin: 36px auto 0 auto;
}

.logo div {
  margin: 0 10px 0 1px;
}

.logo ul {
  text-align: left;
}

.code-rectangle {
  height: 8px;
  display: inline-block;
}

/*
============================
  1st Row of Rectangles
============================
*/

.logo ul:first-of-type div {
  width: 100px;
}

.logo li:first-of-type div:first-of-type {
  background-color: #f5db3C;
}

.logo li:last-of-type div:last-of-type {
  background-color: #B2CCE4;
}

/*
============================
  2nd Row of Rectangles
============================
*/

.logo ul:nth-child(2) {
  margin-top: -1px;
}

.logo ul:nth-child(2) li:nth-child(-n+2) div {
  width: 75px;
  background-color: #fff;
  margin-right: 7px;
}

.logo ul:nth-child(2) li:nth-child(n+3) div {
  width: 58px;
  background-color: #fff;
  margin-right: 7px;
  margin-left: 3px;
}

.logo ul:nth-child(2) li:nth-child(1) div {
  background-color: #32ffe3;
}

.logo ul:nth-child(2) li:nth-child(2) div {
  background-color: #B2CCE4;
}

.logo ul:nth-child(2) li:nth-child(3) div {
  background-color: #F5DC39;
}

.logo ul:nth-child(2) li:nth-child(4) div {
  background-color: #FF643A;
}

/*
============================
  3rd Row of Rectangles
============================
*/

.logo ul:nth-child(3) {
  margin-top: -4px;
}

.logo ul:nth-child(3) li:nth-child(1) div {
  width: 143px;
  background-color: #32FFE3;
  margin-right: 12px;
}

.logo ul:nth-child(3) li:nth-child(2) div {
  width: 295px;
  background-color: #F5DC39;
  margin-right: 8px;
}

.logo ul:nth-child(3) li:nth-child(3) div {
  width: 32px;
  background-color: #32FFE3;
  margin-right: 0;
}

/*
============================
  4th Row of Rectangles
============================
*/

.logo ul:nth-child(4) {
  margin-top: -2px;
}

.logo ul:nth-child(4) li div {
  width: 28px;
  margin-right: 6px;
}

.logo ul:nth-child(4) li:nth-child(1) div {
  background-color: #F5DC39;
}

.logo ul:nth-child(4) li:nth-child(2) div {
  background-color: #B2CCE4;
  margin-right: 7px;
}

.logo ul:nth-child(4) li:nth-child(3) div {
  width: 195px;
  background-color: #32FFE3;
  margin-right: 9px;
}

.logo ul:nth-child(4) li:nth-child(4) div {
  background-color: #FF643A;
}

header li {
  display: inline-block;
}

header .logo li {
  margin: 0 0 0 0;
}

/*
============================
  Header Navigation
============================
*/

header nav {
  margin-top: 125px;
}

header nav li {
  margin: 0 25px;
}

header nav a {
  text-transform: uppercase;
  color: #fff;
}

header nav a:hover {
  color: #f5db3C;
}

.active {
  color: #50c3af;
}

/*
============================
  Main Content
============================
*/

main {
  background: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.main-column {
  float: left;
  max-width: 65%;
  padding-right: 11.5%;
  margin-top: 7px;
}

article + article {
  margin-top: 87px;
}

article p {
  margin-top: 21px;
  text-align: justify;
}

article p + p {
  margin-top: 16px;
  line-height: 30px;
}

article p a { color: #50C3AF;}

h2 a {
  font-size: 1.8rem;
  color: #45494D;
}

.main-column nav {
  margin: 80px auto;
}

/*
============================
  Sidebar
============================
*/

.sidebar-column {
  overflow: hidden;
  background-color: #F6F7F8;
  margin-top: 80px;
  box-sizing: border-box;
  padding: 40px;
}

h3 {
  text-transform: uppercase;
  font-size: .8rem;
  line-height: .9rem;
  margin-bottom: 30px;
}

.sidebar-column ul {
}

.sidebar-column li,
.sidebar-column p {
  font-size: .7rem;
}

.sidebar-column p {
  padding-top: 5px;
  line-height: 1.05rem;
  text-align: justify;
  color: #787B80;
}

.sidebar-column section + section {
  margin-top: 92px;
}

/*
============================
  Sidebar
============================
*/

footer {
  clear: both;
  border-top: 1px solid #D0D0D0;
  max-width: 1000px;
  margin: 0 auto;
  font-size: .6rem;
}
